<div class="header">
  <div class='header-title'>
    Angular2 + ES6 Starter Demo
  </div>
  <div class="header-links">
    <a href="#"
      routerLink="/login"
      routerLinkActive="_hide"
      [class._show]="!loginService.isLoggedIn()"
      [class._hide]="loginService.isLoggedIn()"
    >Login</a>

    <a href="#"
      (click)="logout()"
      [class._show]="loginService.isLoggedIn()"
      [class._hide]="!loginService.isLoggedIn()"
    >Logout</a>

    <a href="#"
      routerLink="/home"
      routerLinkActive="_hide"
    >Home</a>
  <div>
</div>
