@import "~bootstrap/dist/css/bootstrap.css";
@import "common.less";

body, html {
    height: 100%;
    overflow: hidden;
}

body {
  padding: 10px;
}

.main-div {
    clear: both;
    overflow: auto;
    height: ~"calc(100% - @{headerHeight} - @{footerHeight} - @{footerBottom} - 5px)";
}

.error {
  color: red;
}
